nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 1 rem;
}

h1 {
  color: steelblue;
  padding: .5rem;
}

main img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 2px solid steelblue;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


aside {
  width: 20rem;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto
}

p {
  padding: 0;
}

footer {
  margin-top: 20px;
  border-top: 2px solid #004080;
  text-align: center;
  padding-top: 10px;
}
